.mint-cell-wrapper {
  padding: 0!important;
  width: 720px!important;
}
.mint-cell-swipe-button {
  line-height: 3rem!important;
}
.mint-toast-text {
  font-size: 30px!important;
}
.mint-msgbox {
  font-size: 30px!important;
}
.mint-msgbox-errormsg {
  font-size: 30px!important;
}
