.mint-cell-wrapper {
  padding: 0;
  width: 720px;
}
.mint-cell-swipe-button {
  line-height: 3rem;
}
.mint-toast-text {
  font-size: 25px;
}
.mint-msgbox {
  font-size: 25px;
}
.mint-msgbox-errormsg {
  font-size: 25px;
}
