.van-actionsheet__header {
  line-height: 100px!important;
  font-size: 80px!important;
}
.van-actionsheet__header .van-icon-close {
  color: #13C1FE!important;
}
.van-cell-swipe__right {
  background-color: #1AB6FD!important;
}
.van-dialog__message {
  line-height: 3.5!important;
  font-size: 30px!important;
}
.van-button__text {
  font-size: 30px!important;
}
.van-nav-bar {
  background-color: #13C1FE;
  height: 130px!important;
  line-height: 130px!important;
  &__text {
    font-size: 30px!important;
    color: white;
  }
  &__title {
    font-size: 35px!important;
    color: white;
  }
  &__left,&__right {
    i {
      font-size: 40px!important;
      color: white!important;
      &:before {
        color: white!important;
      }
    }
  }
}

