.van-actionsheet__header {
  line-height: 100px!important;
  font-size: 80px!important;
}
.van-actionsheet__header .van-icon-close {
  color: #13C1FE!important;
}
.van-cell-swipe__right {
  background-color: #1AB6FD!important;
}
.van-dialog__message {
  line-height: 3.5!important;
  font-size: 30px!important;
}
.van-button__text {
  font-size: 30px!important;
}
.van-nav-bar {
  background-color: #13C1FE;
  height: 130px!important;
  line-height: 130px!important;
  &__text {
    font-size: 30px!important;
    color: white!important;
    font-weight: 200!important;
  }
  &__title {
    font-size: 35px!important;
    color: white!important;
    font-weight: 200!important;
  }
  &__left,&__right {
    i {
      font-size: 40px!important;
      color: white!important;
      &:before {
        color: white!important;
      }
    }
  }
}

.van-cell {
  height: 80px!important;
  line-height: 80px!important;
  padding: 0 20px!important;
  &__title {
    * {
      font-size: 25px!important;
      color: #666666!important;
      font-family:HiraginoSansGB-W3!important;
      font-weight:normal!important;
    }
  }
  &__value {
    * {
      font-size: 25px!important;
      font-family:HiraginoSansGB-W3!important;
      font-weight:normal!important;
      color: #999999!important;
    }
  }
  &__right-icon {
    line-height: 80px!important;
    font-size: 20px!important;
  }
}

.van-tabbar {
  height: 120px!important;
  line-height: 120px!important;
  &-item {
    &__icon {
      i {
        font-size: 50px!important;
      }
    }
    &__text {
      font-size: 25px!important;
      margin-top: 10px!important;
    }
  }
}

