.van-nav-bar {
  background-color: $themeColor;
  height: 100px!important;
  line-height: 100px!important;
  &:after {
    border-bottom: none!important;
  }
  &__text {
    font-size: 30px!important;
    color: white!important;
    font-weight: 200!important;
  }
  &__title {
    font-size: 35px!important;
    color: white!important;
    font-weight: 200!important;
  }
  &__left,&__right {
    i {
      font-size: 40px!important;
      color: white!important;
    }
  }
}
