$spacer: 0.1px !default;
$spacer-large: 1px !default;

$theme: #d7000e;
$red: #d7000e;
$black: #000000;
$gray: #666666;
$gray-dark: #333333;
$gray-light: #999999;
$background-color: #f5f5f5;

$size-normal: 30px;
$size-large: 32px;
$size-small: 28px;
$size-mini: 24px;
$size-least: 20px;
